<form action="" class="jumbotron">
    <div class="row">
        <div class="col-lg-4">
            <button type="button" class="btn btn-primary">+ Agregar Cliente</button>
        </div>
        <div class="col-lg-4">
            <select class="form-select" aria-label="Default select example">
                <option value="1">Nombre</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-lg-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Ingrese la busqueda..."
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
            </div>
        </div>
    </div>

</form>